.grades-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.grades-list {
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0;
}

.grade-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.grade-item:last-child {
  border-bottom: none; /* Elimina la línea en el último elemento */
}

.exam-name {
  color: #0044cc;
  font-weight: bold;
}

.exam-grade {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
